/* * 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
    */

// reset commentato dato che uso Bootstrap

/* CONTAINER */
 .container.ms-min-height{
    min-height: 100vh;
    padding-top: 12px;
 }